:local(.Section3) {
  background-color: #f6f6f8;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1% 10% 8% 10%;

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }

  .emoji {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .stick {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    img {
      height: 300px;
      width: auto;
    }
  }

  .highlight-note {
    text-align: left;

    h1 {
      text-align: left;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 1.5em;
      color: #8c8c8c;
    }

    .section-img {
      margin-top: 20px;
      width: 100%;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: #f2f2f2;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0px 12px 34px 0px rgba(22,22,21,0.06);
    }
  }
}