@import '../../../styles/colors.scss';

:local(.Section5) {
  background-color: #f6f6f8;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1% 10% 8% 10%;

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .tag {
    display: inline-block;
    padding: 4px 18px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    line-height: 30px;

    margin-left: 20px;

    &.tag-primary {
      color: #fff;
      background-color: $primary-color;
    }
  }

  .emoji {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .device {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    img {
      height: 250px;
      width: auto;
    }
  }

  .all-devices {
    text-align: left;

    h1 {
      text-align: left;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 1.5em;
      color: #8c8c8c;
    }

    .section-img {
      margin-top: 20px;
      width: 100%;
    }
  }
}