@import './colors.scss';

h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.1em;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3em;
}

a {
  color: $link-color;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5 {
  color: $text-color-primary;
}

body {
  color: #8c8c8c;
}

.form-field {
  margin-bottom: 15px;
}

.btn {
  padding: 13px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  color: $link-color;
  border: none;
  line-height: 24px;

  &.btn-large {
    padding: 18px 36px;
  }

  &.btn-primary {
    background: $primary-bg;
    
    &:hover {
      color: $link-color;
      background: $primary-color;
    }
  }

  &.btn-secondary {
    background: $btn-bg-secondary;

    &:hover {
      opacity: 0.9;
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

input {
  &[type=text] {
    border-radius: 3px;
    color: #fff;
    border: 1px solid #fff;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    background-color: transparent;

    &::placeholder {
      color: #fff;
    }
  }
}

.row-eq-height {
  display: flex;
}
