/*General*/

html, body, h1, h2, h3, h4, h5, p, div, li, a {
  font-family: 'Inter' !important;
}  

body {
    overflow-x: hidden;
}

html .woocommerce a.button, input.button {
    white-space: nowrap;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #8fffd7;
    color: #444;
    margin-right: 10px;
}

.woocommerce a.button:hover, input.button:hover {
    background-color: #5cd9a6;
    color: #222;
}

.elementor-widget-image .elementor-image img {
    vertical-align: middle;
    display: inline-block;
    width: 95%;
}

/* ACCOUNT PAGE */

#my-account-menu .user-profile {
    text-align: center;
    display: none;
}

#my-account-menu .myaccount-menu {
    margin: 0px 20px 100px 0;
    border: none;
    border-right: 1px solid #d3d3d382;
}

#my-account-menu.position-left .myaccount-menu:before {
    border-right: none;
}

#my-account-menu.position-left .myaccount-menu:after {
    border-right: none;
}

#my-account-menu .myaccount-menu li>a {
    font-size: 16px;
}
  
#my-account-menu .myaccount-menu li>a>.fa {
	display: none;
}

.woocommerce table.my_account_orders {
    font-size: 17px;
}

.woocommerce table.my_account_orders .button {
    background-color: #8fffd7;
}

.woocommerce table.my_account_orders .order-actions .button:hover {
    opacity: 1;
    font-weight: 600;
}

html .woocommerce a.button, html .woocommerce-page a.button {
    background-color: #8fffd7 !important;
}

html .woocommerce a.button, html .woocommerce-page a.button:hover {
  	font-weight: 600;
		opacity: 1;
}

/* FOOTER SECTION */

.th-widget-area .widget input[type=submit], .th-widget-area .widget .frm_style_formidable-style.with_frm_style input[type=submit] {
    padding: 12px!important;
    margin: 0;
    box-sizing: border-box!important;
    background: white;
    color: rgb(54,54,46);
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
}

.footer-widgets.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer .widget {
    text-align: right;
}

.footer .widget-title {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: 700;
}

.footer-area-3 .col-md-4 .col-sm-6 {
    text-align: right;
}

.footer {
    background: #5cd9a6;
    color: #d2d2d2;
    padding: 50px 0 0;
    margin-top: 0;
}

.footer p {
color: #ffffff;
font-weight: 600;
}

.footer a {
color: rgb(54,54,46);
font-weight: 600;
}

.footer-area-1.col-md-4.col-sm-6 {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer-area-3.col-md-4.col-sm-6 {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer .soc-widget i {
    color: rgb(54,54,46);
    font-size: 45px;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: -10px;
}

.footer .soc-widget i:hover {
    color: white;
}

i.fa.fa-facebook {
    font-size: 38px;
    margin-right: -3px;
}

i.fa.fa-github {
  font-size: 41px;
}

.soc-widget {
  margin-top: -8px;
}

/* FOOTER AREA END */

/* MENU BAR */

.navbar .navbar-nav .dropdown-menu li a:hover, .navbar .navbar-nav .dropdown-menu li.active a {
    color: #111 !important;
}

.navbar .navbar-nav {
    margin-top: 30px !important;
}

.navbar .navbar-nav>li>a {
  font-size: 16px !important;
  font-family: 'Inter' !important;
  color: rgb(54,54,46) !important;
  font-weight: 500 !important;
  padding: 5px 10px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
}

.navbar .navbar-nav>li>a:hover {
  font-family: 'Inter' !important;
  color: #111 !important;
  font-size: 16px !important;
  background-color: #79797930 !important;
}

.navbar .navbar-nav>li>a:hover:after, .navbar .navbar-nav>li.active>a:after, .navbar .navbar-nav>li.active>a:hover:after, .navbar .navbar-nav>li.active>a:focus:after {
  display: none; 
}

.headhesive--clone .navbar-nav {
    margin-top: 16px!important;
}

.navbar .navbar-toggle {
    top: 18px !important;
}

.dropdown li:hover {
    background-color: #79797930;
    color: #111 !important;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: white;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px !important;
    left: -25px !important;
    padding: 5px 0px !important;
    margin-top: 0px !important;
    border-radius: 3px !important;
}

.navbar .navbar-nav .dropdown-menu li a {
    position: relative;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    padding: 8px 20px;
    color: rgb(54, 54, 46);
}

.navbar-default {
    border-bottom: solid 1px #e7e7e7;
}

/* PRICING PAGE AREA */

.elementor-price-table {
    text-align: center;
    height: 710px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elementor-price-table__price {
    top: 120px;
    width: 100%;
    position: absolute;
    height: 100px;
}

.pricing_list {
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  border-radius: 10px;
}

ul.elementor-price-table__features-list {
    position: absolute;
    width: 100%;
    top: 300px;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0,5%,0);
  }
}

.animated.animated-fast {
    animation-duration: 0.75s;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow {
    display: none;
}

/* PRICING PAGE AREA END */

.myaccount-submenu li {
    padding: 0 10px 0 30px;
}

.myaccount-submenu li:hover {
    background-color: #ebebeb;
}

legend {
  padding: 20px 0 0 0;
}

#my-account-menu .myaccount-menu:before {
    border: none;
}

#my-account-menu.position-left .myaccount-menu li a {
    border: none;
}

.woocommerce table.shop_table {
  border: none;
}

.woocommerce .woocommerce-info {
    display: none;
}

/* Wallet page */
.dtr-details span {
    display: flex;
    flex-wrap: wrap;
}

#scrollUp { 
display:none !important;
}

.woo-wallet-sidebar ul li.card a {
  padding: 10px 0 10px 0;
}

.progression-studios-campaign-creator-info-wrapper {
    visibility: hidden;
}

header#masthead-pro {
    border-bottom: 1px solid #00000017;
}

.woo-wallet-my-wallet-container .woo-wallet-content {
  padding-right: 40px;
}

MyAccount-content {
    width: 95%;
}

table.dataTable.no-footer {
    flex-direction: column;
    white-space: pre;
    padding-top: 30px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    padding-bottom: 20px;
}

.progression-studios-campaign-creator-info-wrapper {
  height: 0px;
  visibility: hidden;
}

.helpmeout-index-author {
    display: none;
}

/* Navigation in my Account */
body.woocommerce-account .woocommerce nav.woocommerce-MyAccount-navigation li.is-active a {
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Cart page buttons */
.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
    margin-top: 2px;
    margin-left: 13px;
    padding-top: 7px;
    Background-color: #8fffd7;
    color: #36362e;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    height: 35px;
}

.woocommerce .cart .button, .woocommerce .cart input.button:hover {
    float: none;
    margin-top: 2px;
    margin-left: 15px;
    padding-top: 7px;
    Background-color: #5cd9a6;
    color: #36362e;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    height: 35px;
}

.woocommerce-checkout #payment #place_order {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    background-color: #8fffd7;
    color: #36362e;
    font-weight: 600;
    font-size: 17px;
}

.woocommerce-checkout:hover #payment #place_order {
    background-color: #5cd9a6;
}

/*General*/

html, body, h1, h2, h3, h4, h5, p, div, li, a {
  font-family: 'Inter' !important;
}  

body {
    overflow-x: hidden;
}

html .woocommerce a.button, input.button {
    white-space: nowrap;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #8fffd7;
    color: #444;
    margin-right: 10px;
}

.woocommerce a.button:hover, input.button:hover {
    background-color: #5cd9a6;
    color: #222;
}

.elementor-widget-image .elementor-image img {
    vertical-align: middle;
    display: inline-block;
    width: 95%;
}

/* ACCOUNT PAGE */

#my-account-menu .user-profile {
    text-align: center;
    display: none;
}

#my-account-menu .myaccount-menu {
    margin: 0px 20px 100px 0;
    border: none;
    border-right: 1px solid #d3d3d382;
}

#my-account-menu.position-left .myaccount-menu:before {
    border-right: none;
}

#my-account-menu.position-left .myaccount-menu:after {
    border-right: none;
}

#my-account-menu .myaccount-menu li>a {
    font-size: 16px;
}
  
#my-account-menu .myaccount-menu li>a>.fa {
	display: none;
}

.woocommerce table.my_account_orders {
    font-size: 17px;
}

.woocommerce table.my_account_orders .button {
    background-color: #8fffd7;
}

.woocommerce table.my_account_orders .order-actions .button:hover {
    opacity: 1;
    font-weight: 600;
}

html .woocommerce a.button, html .woocommerce-page a.button {
    background-color: #8fffd7 !important;
}

html .woocommerce a.button, html .woocommerce-page a.button:hover {
  	font-weight: 600;
		opacity: 1;
}

/* FOOTER SECTION */

.th-widget-area .widget input[type=submit], .th-widget-area .widget .frm_style_formidable-style.with_frm_style input[type=submit] {
    padding: 12px!important;
    margin: 0;
    box-sizing: border-box!important;
    background: white;
    color: rgb(54,54,46);
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
}

.footer-widgets.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer .widget {
    text-align: right;
}

.footer .widget-title {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: 700;
}

.footer-area-3 .col-md-4 .col-sm-6 {
    text-align: right;
}

.footer {
    background: #5cd9a6;
    color: #d2d2d2;
    padding: 50px 0 0;
    margin-top: 0;
}

.footer p {
color: #ffffff;
font-weight: 600;
}

.footer a {
color: rgb(54,54,46);
font-weight: 600;
}

.footer-area-1.col-md-4.col-sm-6 {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer-area-3.col-md-4.col-sm-6 {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.footer .soc-widget i {
    color: rgb(54,54,46);
    font-size: 45px;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: -10px;
}

.footer .soc-widget i:hover {
    color: white;
}

i.fa.fa-facebook {
    font-size: 38px;
    margin-right: -3px;
}

i.fa.fa-github {
  font-size: 41px;
}

.soc-widget {
  margin-top: -8px;
}

/* FOOTER AREA END */

/* MENU BAR */

.navbar .navbar-nav .dropdown-menu li a:hover, .navbar .navbar-nav .dropdown-menu li.active a {
    color: #111 !important;
}

.navbar .navbar-nav {
    margin-top: 30px !important;
}

.navbar .navbar-nav>li>a {
  font-size: 16px !important;
  font-family: 'Inter' !important;
  color: rgb(54,54,46) !important;
  font-weight: 500 !important;
  padding: 5px 10px !important;
  border-radius: 3px !important;
  cursor: pointer !important;
}

.navbar .navbar-nav>li>a:hover {
  font-family: 'Inter' !important;
  color: #111 !important;
  font-size: 16px !important;
  background-color: #79797930 !important;
}

.navbar .navbar-nav>li>a:hover:after, .navbar .navbar-nav>li.active>a:after, .navbar .navbar-nav>li.active>a:hover:after, .navbar .navbar-nav>li.active>a:focus:after {
  display: none; 
}

.headhesive--clone .navbar-nav {
    margin-top: 16px!important;
}

.navbar .navbar-toggle {
    top: 18px !important;
}

.dropdown li:hover {
    background-color: #79797930;
    color: #111 !important;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: white;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px !important;
    left: -25px !important;
    padding: 5px 0px !important;
    margin-top: 0px !important;
    border-radius: 3px !important;
}

.navbar .navbar-nav .dropdown-menu li a {
    position: relative;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    padding: 8px 20px;
    color: rgb(54, 54, 46);
}

.navbar-default {
    border-bottom: solid 1px #e7e7e7;
}

/* PRICING PAGE AREA */

.elementor-price-table {
    text-align: center;
    height: 710px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elementor-price-table__price {
    top: 120px;
    width: 100%;
    position: absolute;
    height: 100px;
}

.pricing_list {
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  border-radius: 10px;
}

ul.elementor-price-table__features-list {
    position: absolute;
    width: 100%;
    top: 300px;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0,5%,0);
  }
}

.animated.animated-fast {
    animation-duration: 0.75s;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow {
    display: none;
}

/* PRICING PAGE AREA END */

.myaccount-submenu li {
    padding: 0 10px 0 30px;
}

.myaccount-submenu li:hover {
    background-color: #ebebeb;
}

legend {
  padding: 20px 0 0 0;
}

#my-account-menu .myaccount-menu:before {
    border: none;
}

#my-account-menu.position-left .myaccount-menu li a {
    border: none;
}

.woocommerce table.shop_table {
  border: none;
}

.woocommerce .woocommerce-info {
    display: none;
}

/* Wallet page */
.dtr-details span {
    display: flex;
    flex-wrap: wrap;
}

#scrollUp { 
display:none !important;
}

.woo-wallet-sidebar ul li.card a {
  padding: 10px 0 10px 0;
}

.progression-studios-campaign-creator-info-wrapper {
    visibility: hidden;
}

header#masthead-pro {
    border-bottom: 1px solid #00000017;
}

.woo-wallet-my-wallet-container .woo-wallet-content {
  padding-right: 40px;
}

MyAccount-content {
    width: 95%;
}

table.dataTable.no-footer {
    flex-direction: column;
    white-space: pre;
    padding-top: 30px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    padding-bottom: 20px;
}

.progression-studios-campaign-creator-info-wrapper {
  height: 0px;
  visibility: hidden;
}

.helpmeout-index-author {
    display: none;
}

/* Navigation in my Account */
body.woocommerce-account .woocommerce nav.woocommerce-MyAccount-navigation li.is-active a {
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Cart page buttons */
.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
    margin-top: 2px;
    margin-left: 13px;
    padding-top: 7px;
    Background-color: #8fffd7;
    color: #36362e;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    height: 35px;
}

.woocommerce .cart .button, .woocommerce .cart input.button:hover {
    float: none;
    margin-top: 2px;
    margin-left: 15px;
    padding-top: 7px;
    Background-color: #5cd9a6;
    color: #36362e;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    height: 35px;
}

.woocommerce-checkout #payment #place_order {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    background-color: #8fffd7;
    color: #36362e;
    font-weight: 600;
    font-size: 17px;
}

.woocommerce-checkout:hover #payment #place_order {
    background-color: #5cd9a6;
}

.woocommerce-terms-and-conditions-checkbox-text {
    font-size: 15px;
}

.woocommerce form .form-row .input-checkbox {
    margin: 8px 8px 10px 11px;
}