.elementor-8903 .elementor-element.elementor-element-277549c5>.elementor-element-populated {
	margin: 0 05px 030px 05px;
	padding: 0 0 0 0
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-em453v5 i {
	color: #27c971
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-jg42wct i {
	color: #27c971
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-qpuxonp i {
	color: #898989
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-xz8gem7 i {
	color: #898989
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__header {
	background-color: #8fffd7;
	padding: 32px 32px 32px 32px
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__heading {
	color: #333;
	font-family: "Inter", Inter;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__subheading {
	color: #666;
	font-size: 16px;
	font-weight: 400
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__price {
	background-color: #fff;
	padding: 45px 45px 45px 45px;
	font-family: "Inter", Inter;
	font-size: 57px
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__currency,
.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__integer-part,
.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__fractional-part {
	color: #333
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__after-price {
	justify-content: center
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__period {
	color: #000;
	font-family: "Inter", Inter;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.4em;
	letter-spacing: 0
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list {
	background-color: #fff;
	padding: 0 0 0 0;
	color: #555;
	text-align: center
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list li {
	font-family: "Inter", Inter;
	font-size: 16px;
	font-weight: 500;
	font-style: normal
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__feature-inner {
	margin-left: calc((100% - 84%)/2);
	margin-right: calc((100% - 84%)/2)
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list li:before {
	border-top-style: solid;
	border-top-color: #eae9e9;
	border-top-width: 2px;
	margin-left: calc((100% - 71%)/2);
	margin-right: calc((100% - 71%)/2);
	margin-top: 18px;
	margin-bottom: 18px
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__footer {
	background-color: #fff;
	padding: 60px 0 60px 0
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__button {
	color: #36362f;
	font-family: "Inter", Inter;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #8fffd7;
	border-radius: 5px 5px 5px 5px
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__button:hover {
	color: #fff;
	background-color: #5cd9a6
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__ribbon-inner {
	background-color: #000;
	margin-top: 37px;
	transform: translateY(-50%) translateX(-50%) translateX(37px) rotate(-45deg);
	color: #fff;
	font-family: "PT Sans", Inter;
	font-size: 15px;
	font-weight: 900;
	line-height: 2.4em
}

.elementor-8903 .elementor-element.elementor-element-7b8ad010>.elementor-widget-container {
	margin: 0 0 0 0;
	border-radius: 10px 10px 10px 10px
}

.elementor-8903 .elementor-element.elementor-element-fd87511>.elementor-element-populated {
	margin: 0 05px 030px 5px;
	padding: 0 0 0 0
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-repeater-item-em453v5 i {
	color: #27c971
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-repeater-item-jg42wct i {
	color: #27c971
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-repeater-item-qpuxonp i {
	color: #898989
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__header {
	background-color: #8fffd7;
	padding: 32px 32px 32px 32px
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__heading {
	color: #333;
	font-family: "Inter", Inter;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__subheading {
	color: #666;
	font-size: 16px;
	font-weight: 400
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__price {
	background-color: #fff;
	padding: 45px 45px 45px 45px;
	font-family: "Inter", Inter;
	font-size: 100px
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__currency,
.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__integer-part,
.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__fractional-part {
	color: #333
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__currency {
	font-size: calc(40em/100);
	align-self: center
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__after-price {
	justify-content: center
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list {
	background-color: #fff;
	color: #555;
	text-align: center
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list li {
	font-family: "Inter", Inter;
	font-size: 16px;
	font-weight: 500;
	font-style: normal
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__feature-inner {
	margin-left: calc((100% - 84%)/2);
	margin-right: calc((100% - 84%)/2)
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list li:before {
	border-top-style: solid;
	border-top-color: #eae9e9;
	border-top-width: 2px;
	margin-left: calc((100% - 71%)/2);
	margin-right: calc((100% - 71%)/2);
	margin-top: 18px;
	margin-bottom: 18px
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__footer {
	background-color: #fff;
	padding: 60px 0 60px 0
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__button {
	color: #36362f;
	font-family: "Inter", Inter;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #8fffd7;
	border-radius: 5px 5px 5px 5px
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__button:hover {
	color: #fff;
	background-color: #5cd9a6
}

.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__ribbon-inner {
	background-color: #000;
	margin-top: 37px;
	transform: translateY(-50%) translateX(-50%) translateX(37px) rotate(-45deg);
	color: #fff;
	font-family: "PT Sans", Inter;
	font-size: 15px;
	font-weight: 900;
	line-height: 2.4em
}

.elementor-8903 .elementor-element.elementor-element-a39f784>.elementor-widget-container {
	margin: 01px 0 0 0;
	border-radius: 10px 10px 10px 10px
}

.elementor-8903 .elementor-element.elementor-element-1fb6abab:not(.elementor-motion-effects-element-type-background),
.elementor-8903 .elementor-element.elementor-element-1fb6abab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: rgba(255, 255, 255, 0)
}

.elementor-8903 .elementor-element.elementor-element-1fb6abab {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0100px 0
}

.elementor-8903 .elementor-element.elementor-element-1fb6abab>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

@media(min-width:768px) {
	.elementor-8903 .elementor-element.elementor-element-277549c5 {
		width: 50%
	}
	.elementor-8903 .elementor-element.elementor-element-fd87511 {
		width: 50%
	}
}

@media(max-width:1024px) {
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__header {
		padding: 23px 0 23px 0
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__heading {
		font-size: 25px
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__price {
		padding: 40px 40px 40px 40px;
		font-size: 60px
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list li {
		font-size: 13px
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__feature-inner {
		margin-left: calc((100% - 85%)/2);
		margin-right: calc((100% - 85%)/2)
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__footer {
		padding: 40px 0 40px 0
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__button {
		font-size: 14px
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__ribbon-inner {
		margin-top: 35px;
		transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg)
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__header {
		padding: 23px 0 23px 0
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__heading {
		font-size: 25px
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__price {
		padding: 40px 40px 40px 40px;
		font-size: 80px
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list li {
		font-size: 13px
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__feature-inner {
		margin-left: calc((100% - 85%)/2);
		margin-right: calc((100% - 85%)/2)
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__footer {
		padding: 40px 0 40px 0
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__button {
		font-size: 14px
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__ribbon-inner {
		margin-top: 35px;
		transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg)
	}
	.elementor-8903 .elementor-element.elementor-element-1fb6abab {
		padding: 80px 30px 80px 30px
	}
}

@media(max-width:767px) {
	.elementor-8903 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__ribbon-inner {
		margin-top: 35px;
		transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg)
	}
	.elementor-8903 .elementor-element.elementor-element-7b8ad010>.elementor-widget-container {
		margin: 0 0 0 0;
		padding: 0 0 0 0
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784 .elementor-price-table__ribbon-inner {
		margin-top: 35px;
		transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg)
	}
	.elementor-8903 .elementor-element.elementor-element-a39f784>.elementor-widget-container {
		margin: 0 0 0 0;
		padding: 0 0 0 0
	}
	.elementor-8903 .elementor-element.elementor-element-1fb6abab {
		padding: 50px 20px 80px 20px
	}
}


.elementor-9328 .elementor-element.elementor-element-277549c5>.elementor-element-populated {
	margin: 0 5px 030px 5px;
	padding: 0 0 0 0
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-em453v5 i {
	color: #27c971
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-jg42wct i {
	color: #27c971
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-qpuxonp i {
	color: #898989
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-repeater-item-xz8gem7 i {
	color: #898989
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__header {
	background-color: #8fffd7;
	padding: 32px 32px 32px 32px
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__heading {
	color: #333;
	font-family: "Inter", Inter;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__subheading {
	color: #666;
	font-size: 16px;
	font-weight: 400
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__price {
	background-color: #fff;
	padding: 45px 45px 45px 45px;
	font-family: "Inter", Inter;
	font-size: 57px
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__currency,
.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__integer-part,
.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__fractional-part {
	color: #333
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__after-price {
	justify-content: center
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__period {
	color: #000;
	font-family: "Inter", Inter;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.4em;
	letter-spacing: 0
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list {
	background-color: #fff;
	color: #555;
	text-align: center
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list li {
	font-family: "Inter", Inter;
	font-size: 16px;
	font-weight: 500;
	font-style: normal
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__feature-inner {
	margin-left: calc((100% - 84%)/2);
	margin-right: calc((100% - 84%)/2)
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list li:before {
	border-top-style: solid;
	border-top-color: #eae9e9;
	border-top-width: 2px;
	margin-left: calc((100% - 71%)/2);
	margin-right: calc((100% - 71%)/2);
	margin-top: 18px;
	margin-bottom: 18px
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__footer {
	background-color: #fff;
	padding: 60px 0 60px 0
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__button {
	color: #36362f;
	font-family: "Inter", Inter;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #8fffd7;
	border-radius: 5px 5px 5px 5px
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__button:hover {
	color: #fff;
	background-color: #5cd9a6
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__ribbon-inner {
	background-color: #000;
	margin-top: 37px;
	transform: translateY(-50%) translateX(-50%) translateX(37px) rotate(-45deg);
	color: #fff;
	font-family: "PT Sans", Inter;
	font-size: 15px;
	font-weight: 900;
	line-height: 2.4em
}

.elementor-9328 .elementor-element.elementor-element-7b8ad010>.elementor-widget-container {
	margin: 0 0 0 0;
	border-radius: 10px 10px 10px 10px
}

.elementor-9328 .elementor-element.elementor-element-fd87511>.elementor-element-populated {
	margin: 0 05px 030px 5px;
	padding: 0 0 0 0
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-repeater-item-em453v5 i {
	color: #27c971
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-repeater-item-jg42wct i {
	color: #27c971
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-repeater-item-qpuxonp i {
	color: #898989
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__header {
	background-color: #8fffd7;
	padding: 32px 32px 32px 32px
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__heading {
	color: #333;
	font-family: "Inter", Inter;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__subheading {
	color: #666;
	font-size: 16px;
	font-weight: 400
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__price {
	background-color: #fff;
	padding: 45px 45px 45px 45px;
	font-family: "Inter", Inter;
	font-size: 100px
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__currency,
.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__integer-part,
.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__fractional-part {
	color: #333
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__currency {
	font-size: calc(40em/100);
	align-self: center
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__after-price {
	justify-content: center
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list {
	background-color: #fff;
	color: #555;
	text-align: center
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list li {
	font-family: "Inter", Inter;
	font-size: 16px;
	font-weight: 500;
	font-style: normal
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__feature-inner {
	margin-left: calc((100% - 84%)/2);
	margin-right: calc((100% - 84%)/2)
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list li:before {
	border-top-style: solid;
	border-top-color: #eae9e9;
	border-top-width: 2px;
	margin-left: calc((100% - 71%)/2);
	margin-right: calc((100% - 71%)/2);
	margin-top: 18px;
	margin-bottom: 18px
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__footer {
	background-color: #fff;
	padding: 60px 0 60px 0
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__button {
	color: #36362f;
	font-family: "Inter", Inter;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #8fffd7;
	border-radius: 5px 5px 5px 5px
}

.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__button:hover {
	color: #fff;
	background-color: #5cd9a6
}

.elementor-9328 .elementor-element.elementor-element-a39f784>.elementor-widget-container {
	margin: 0 0 0 0;
	border-radius: 10px 10px 10px 10px
}

.elementor-9328 .elementor-element.elementor-element-1fb6abab:not(.elementor-motion-effects-element-type-background),
.elementor-9328 .elementor-element.elementor-element-1fb6abab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: rgba(255, 255, 255, 0)
}

.elementor-9328 .elementor-element.elementor-element-1fb6abab {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0 0 100px 0
}

.elementor-9328 .elementor-element.elementor-element-1fb6abab>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

@media(min-width:768px) {
	.elementor-9328 .elementor-element.elementor-element-277549c5 {
		width: 50%
	}
	.elementor-9328 .elementor-element.elementor-element-fd87511 {
		width: 50%
	}
}

@media(max-width:1024px) {
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__header {
		padding: 23px 0 23px 0
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__heading {
		font-size: 25px
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__price {
		padding: 40px 40px 40px 40px;
		font-size: 60px
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__features-list li {
		font-size: 13px
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__feature-inner {
		margin-left: calc((100% - 85%)/2);
		margin-right: calc((100% - 85%)/2)
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__footer {
		padding: 40px 0 40px 0
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__button {
		font-size: 14px
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__ribbon-inner {
		margin-top: 35px;
		transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg)
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__header {
		padding: 23px 0 23px 0
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__heading {
		font-size: 25px
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__price {
		padding: 40px 40px 40px 40px;
		font-size: 80px
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__features-list li {
		font-size: 13px
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__feature-inner {
		margin-left: calc((100% - 85%)/2);
		margin-right: calc((100% - 85%)/2)
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__footer {
		padding: 40px 0 40px 0
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784 .elementor-price-table__button {
		font-size: 14px
	}
	.elementor-9328 .elementor-element.elementor-element-1fb6abab {
		padding: 80px 30px 80px 30px
	}
}

@media(max-width:767px) {
	.elementor-9328 .elementor-element.elementor-element-7b8ad010 .elementor-price-table__ribbon-inner {
		margin-top: 35px;
		transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg)
	}
	.elementor-9328 .elementor-element.elementor-element-7b8ad010>.elementor-widget-container {
		margin: 0 0 0 0;
		padding: 0 0 0 0
	}
	.elementor-9328 .elementor-element.elementor-element-a39f784>.elementor-widget-container {
		margin: 0 0 0 0;
		padding: 0 0 0 0
	}
	.elementor-9328 .elementor-element.elementor-element-1fb6abab {
		padding: 50px 20px 80px 20px
	}
}