/*html{
    font-family:Inter;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
footer,header,main,nav,section{
    display:block
}
[hidden]{
    display:none
}
a{
    background:0 0
}
a:active,a:hover{
    outline:0
}
b,strong{
    font-weight:700
}
h1{
    font-size:2em;
    margin:.67em 0
}
small{
    font-size:80%
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
code{
    font-family:monospace,monospace;
    font-size:1em
}
button,input{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
@media print{
    *{
        text-shadow:none!important;
        color:#000!important;
        background:0 0!important;
        box-shadow:none!important
    }
    a,a:visited{
        text-decoration:underline
    }
    a[href]:after{
        content:" (" attr(href) ")"
    }
    a[href^="#"]:after,a[href^="javascript:"]:after{
        content:""
    }
    img{
        page-break-inside:avoid
    }
    img{
        max-width:100%!important
    }
    h2,h3,p{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
    .navbar{
        display:none
    }
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html{
    font-size:62.5%;
    -webkit-tap-highlight-color:transparent
}
body{
    font-family:Inter;
    font-size:14px;
    line-height:1.42857143;
    color:#333;
    background-color:#fff
}
button,input{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
a{
    color:#428bca;
    text-decoration:none
}
a:focus,a:hover{
    color:#2a6496;
    text-decoration:underline
}
a:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
img{
    vertical-align:middle
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    color:inherit
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    font-weight:400;
    line-height:1;
    color:#999
}
.h1,.h2,.h3,h1,h2,h3{
    margin-top:20px;
    margin-bottom:10px
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{
    font-size:65%
}
.h4,.h5,.h6,h4,h5,h6{
    margin-top:10px;
    margin-bottom:10px
}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    font-size:75%
}
.h1,h1{
    font-size:36px
}
.h2,h2{
    font-size:30px
}
.h3,h3{
    font-size:24px
}
.h4,h4{
    font-size:18px
}
.h5,h5{
    font-size:14px
}
.h6,h6{
    font-size:12px
}
p{
    margin:0 0 10px
}
.small,small{
    font-size:85%
}
.text-primary{
    color:#428bca
}
a.text-primary:hover{
    color:#3071a9
}
.page-header{
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid #eee
}
ul{
    margin-top:0;
    margin-bottom:10px
}
ul ul{
    margin-bottom:0
}
dd{
    line-height:1.42857143
}
dd{
    margin-left:0
}
code{
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace
}
code{
    padding:2px 4px;
    font-size:90%;
    color:#c7254e;
    background-color:#f9f2f4;
    white-space:nowrap;
    border-radius:4px
}
.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
@media (min-width:768px){
    .container{
        width:750px
    }
}
@media (min-width:992px){
    .container{
        width:970px
    }
}
@media (min-width:1200px){
    .container{
        width:1170px
    }
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.row{
    margin-left:-15px;
    margin-right:-15px
}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    float:left
}
.col-xs-12{
    width:100%
}
.col-xs-11{
    width:91.66666667%
}
.col-xs-10{
    width:83.33333333%
}
.col-xs-9{
    width:75%
}
.col-xs-8{
    width:66.66666667%
}
.col-xs-7{
    width:58.33333333%
}
.col-xs-6{
    width:50%
}
.col-xs-5{
    width:41.66666667%
}
.col-xs-4{
    width:33.33333333%
}
.col-xs-3{
    width:25%
}
.col-xs-2{
    width:16.66666667%
}
.col-xs-1{
    width:8.33333333%
}
@media (min-width:768px){
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{
        float:left
    }
    .col-sm-12{
        width:100%
    }
    .col-sm-11{
        width:91.66666667%
    }
    .col-sm-10{
        width:83.33333333%
    }
    .col-sm-9{
        width:75%
    }
    .col-sm-8{
        width:66.66666667%
    }
    .col-sm-7{
        width:58.33333333%
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-5{
        width:41.66666667%
    }
    .col-sm-4{
        width:33.33333333%
    }
    .col-sm-3{
        width:25%
    }
    .col-sm-2{
        width:16.66666667%
    }
    .col-sm-1{
        width:8.33333333%
    }
}
@media (min-width:992px){
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float:left
    }
    .col-md-12{
        width:100%
    }
    .col-md-11{
        width:91.66666667%
    }
    .col-md-10{
        width:83.33333333%
    }
    .col-md-9{
        width:75%
    }
    .col-md-8{
        width:66.66666667%
    }
    .col-md-7{
        width:58.33333333%
    }
    .col-md-6{
        width:50%
    }
    .col-md-5{
        width:41.66666667%
    }
    .col-md-4{
        width:33.33333333%
    }
    .col-md-3{
        width:25%
    }
    .col-md-2{
        width:16.66666667%
    }
    .col-md-1{
        width:8.33333333%
    }
}
fieldset{
    padding:0;
    margin:0;
    border:0;
    min-width:0
}
input[type=search]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
input[type=checkbox],input[type=radio]{
    margin:4px 0 0;
    line-height:normal
}
input[type=file]{
    display:block
}
input[type=range]{
    display:block;
    width:100%
}
input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
input[type=search]{
    -webkit-appearance:none
}
input[type=date]{
    line-height:34px
}
.form-group{
    margin-bottom:15px
}
fieldset[disabled] input[type=checkbox],fieldset[disabled] input[type=radio],input[type=checkbox][disabled],input[type=radio][disabled]{
    cursor:not-allowed
}
.input-sm{
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.help-block{
    display:block;
    margin-top:5px;
    margin-bottom:10px;
    color:#737373
}
.form-horizontal .form-group{
    margin-left:-15px;
    margin-right:-15px
}
.btn{
    display:inline-block;
    margin-bottom:0;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.btn:active:focus,.btn:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.btn:focus,.btn:hover{
    color:#333;
    text-decoration:none
}
.btn:active{
    outline:0;
    background-image:none;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn[disabled],fieldset[disabled] .btn{
    cursor:not-allowed;
    pointer-events:none;
    opacity:.65;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-primary{
    color:#fff;
    background-color:#428bca;
    border-color:#357ebd
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{
    color:#fff;
    background-color:#3276b1;
    border-color:#285e8e
}
.btn-primary:active,.open .dropdown-toggle.btn-primary{
    background-image:none
}
.btn-primary[disabled],.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{
    background-color:#428bca;
    border-color:#357ebd
}
.btn-link{
    color:#428bca;
    font-weight:400;
    cursor:pointer;
    border-radius:0
}
.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{
    border-color:transparent
}
.btn-link:focus,.btn-link:hover{
    color:#2a6496;
    text-decoration:underline;
    background-color:transparent
}
.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover{
    color:#999;
    text-decoration:none
}
.btn-group-sm>.btn,.btn-sm{
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.btn-group-xs>.btn,.btn-xs{
    padding:1px 5px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.btn-block{
    display:block;
    width:100%;
    padding-left:0;
    padding-right:0
}
.btn-block+.btn-block{
    margin-top:5px
}
input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block{
    width:100%
}
.collapse{
    display:none
}
.collapse.in{
    display:block
}
.dropdown{
    position:relative
}
.dropdown-toggle:focus{
    outline:0
}
.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    list-style:none;
    font-size:14px;
    background-color:#fff;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
    background-clip:padding-box
}
.dropdown-menu>li>a{
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#333;
    white-space:nowrap
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{
    text-decoration:none;
    color:#262626;
    background-color:#f5f5f5
}
.open>.dropdown-menu{
    display:block
}
.open>a{
    outline:0
}
.dropdown-header{
    display:block;
    padding:3px 20px;
    font-size:12px;
    line-height:1.42857143;
    color:#999
}
.btn-group{
    position:relative;
    display:inline-block;
    vertical-align:middle
}
.btn-group>.btn{
    position:relative;
    float:left
}
.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover{
    z-index:2
}
.btn-group>.btn:focus{
    outline:0
}
.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{
    margin-left:-1px
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius:0
}
.btn-group>.btn:first-child{
    margin-left:0
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.btn-group>.btn-group{
    float:left
}
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{
    border-radius:0
}
.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle{
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.btn-group>.btn-group:last-child>.btn:first-child{
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{
    outline:0
}
.btn-group>.btn+.dropdown-toggle{
    padding-left:8px;
    padding-right:8px
}
.btn-group.open .dropdown-toggle{
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn-group.open .dropdown-toggle.btn-link{
    -webkit-box-shadow:none;
    box-shadow:none
}
[data-toggle=buttons]>.btn>input[type=checkbox],[data-toggle=buttons]>.btn>input[type=radio]{
    display:none
}
.input-group{
    position:relative;
    display:table;
    border-collapse:separate
}
.input-group[class*=col-]{
    float:none;
    padding-left:0;
    padding-right:0
}
.input-group-sm>.input-group-btn>.btn{
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.input-group-btn{
    display:table-cell
}
.input-group-btn:not(:first-child):not(:last-child){
    border-radius:0
}
.input-group-btn{
    width:1%;
    white-space:nowrap;
    vertical-align:middle
}
.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle{
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.input-group-btn{
    position:relative;
    font-size:0;
    white-space:nowrap
}
.input-group-btn>.btn{
    position:relative
}
.input-group-btn>.btn+.btn{
    margin-left:-1px
}
.input-group-btn>.btn:active,.input-group-btn>.btn:focus,.input-group-btn>.btn:hover{
    z-index:2
}
.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{
    margin-right:-1px
}
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{
    margin-left:-1px
}
.nav{
    margin-bottom:0;
    padding-left:0;
    list-style:none
}
.nav>li{
    position:relative;
    display:block
}
.nav>li>a{
    position:relative;
    display:block;
    padding:10px 15px
}
.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:#eee
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:#eee;
    border-color:#428bca
}
.nav>li>a>img{
    max-width:none
}
.navbar{
    position:relative;
    min-height:50px;
    margin-bottom:20px;
    border:1px solid transparent
}
@media (min-width:768px){
    .navbar{
        border-radius:4px
    }
}
@media (min-width:768px){
    .navbar-header{
        float:left
    }
}
.navbar-collapse{
    max-height:340px;
    overflow-x:visible;
    padding-right:15px;
    padding-left:15px;
    border-top:1px solid transparent;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling:touch
}
.navbar-collapse.in{
    overflow-y:auto
}
@media (min-width:768px){
    .navbar-collapse{
        width:auto;
        border-top:0;
        box-shadow:none
    }
    .navbar-collapse.collapse{
        display:block!important;
        height:auto!important;
        padding-bottom:0;
        overflow:visible!important
    }
    .navbar-collapse.in{
        overflow-y:visible
    }
}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{
    margin-right:-15px;
    margin-left:-15px
}
@media (min-width:768px){
    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{
        margin-right:0;
        margin-left:0
    }
}
.navbar-toggle{
    position:relative;
    float:right;
    margin-right:15px;
    padding:9px 10px;
    margin-top:8px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px
}
.navbar-toggle:focus{
    outline:0
}
.navbar-toggle .icon-bar{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px
}
.navbar-toggle .icon-bar+.icon-bar{
    margin-top:4px
}
@media (min-width:768px){
    .navbar-toggle{
        display:none
    }
}
.navbar-nav{
    margin:7.5px -15px
}
.navbar-nav>li>a{
    padding-top:10px;
    padding-bottom:10px;
    line-height:20px
}
@media (max-width:767px){
    .navbar-nav .open .dropdown-menu{
        position:static;
        float:none;
        width:auto;
        margin-top:0;
        background-color:transparent;
        border:0;
        box-shadow:none
    }
    .navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{
        padding:5px 15px 5px 25px
    }
    .navbar-nav .open .dropdown-menu>li>a{
        line-height:20px
    }
    .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{
        background-image:none
    }
}
@media (min-width:768px){
    .navbar-nav{
        float:left;
        margin:0
    }
    .navbar-nav>li{
        float:left
    }
    .navbar-nav>li>a{
        padding-top:15px;
        padding-bottom:15px
    }
}
.navbar-form{
    margin-left:-15px;
    margin-right:-15px;
    padding:10px 15px;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    margin-top:8px;
    margin-bottom:8px
}
@media (min-width:768px){
    .navbar-form .form-group{
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle
    }
}
@media (max-width:767px){
    .navbar-form .form-group{
        margin-bottom:5px
    }
}
@media (min-width:768px){
    .navbar-form{
        width:auto;
        border:0;
        margin-left:0;
        margin-right:0;
        padding-top:0;
        padding-bottom:0;
        -webkit-box-shadow:none;
        box-shadow:none
    }
}
.navbar-nav>li>.dropdown-menu{
    margin-top:0;
    border-top-right-radius:0;
    border-top-left-radius:0
}
.navbar-btn{
    margin-top:8px;
    margin-bottom:8px
}
.navbar-btn.btn-sm{
    margin-top:10px;
    margin-bottom:10px
}
.navbar-btn.btn-xs{
    margin-top:14px;
    margin-bottom:14px
}
.navbar-text{
    margin-top:15px;
    margin-bottom:15px
}
@media (min-width:768px){
    .navbar-text{
        float:left;
        margin-left:15px;
        margin-right:15px
    }
}
@-webkit-keyframes progress-bar-stripes{
    from{
        background-position:40px 0
    }
    to{
        background-position:0 0
    }
}
@keyframes progress-bar-stripes{
    from{
        background-position:40px 0
    }
    to{
        background-position:0 0
    }
}
.container-fluid:after,.container-fluid:before,.container:after,.container:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before{
    content:" ";
    display:table
}
.container-fluid:after,.container:after,.form-horizontal .form-group:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{
    clear:both
}
.show{
    display:block!important
}
.hidden{
    display:none!important;
    visibility:hidden!important
}
@media (max-width:767px){
    .hidden-xs{
        display:none!important
    }
}
@media (min-width:768px) and (max-width:991px){
    .hidden-sm{
        display:none!important
    }
}
@media (min-width:992px) and (max-width:1199px){
    .hidden-md{
        display:none!important
    }
}
body{
    background:#fbfcfd;
    font-family:Inter;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    overflow-x:hidden
}
.banner{
    z-index:20
}
.navbar{
    background-color:#fff;
    margin-bottom:0
}
#logo{
    float:left;
    display:block;
    margin:25px 0
}
.navbar .navbar-nav{
    float:right;
    text-align:right;
    margin:12px 0 0 0
}
.navbar .navbar-nav>li>a{
    position:relative;
    color:#5d5d5d;
    font-size:14px;
    font-weight:400;
    padding:15px 0;
    margin:0 15px;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    transition:all .1s linear
}
.navbar .navbar-nav>li>a:after{
    position:absolute;
    bottom:12px;
    left:0;
    content:'';
    width:2px;
    height:0;
    background-color:#fff;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    transition:all .2s linear
}
.navbar .navbar-nav>li>a:hover{
    color:#5d5d5d
}
.navbar .navbar-nav>li>a:hover:after{
    width:100%;
    height:1px;
    background-color:#3a3b74
}
.navbar-nav>li+li{
    margin-left:2px
}
.navbar .navbar-nav .dropdown-menu{
    background-color:#353c40;
    border-radius:0!important
}
.navbar .navbar-nav .dropdown-menu li a{
    position:relative;
    font-size:14px
}
.navbar .navbar-nav .dropdown-menu li a:hover{
    color:#3a3b74;
    background-color:transparent
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{
    background-color:transparent!important
}
.navbar-collapse{
    max-height:none
}
.navbar-collapse ul{
    margin-bottom:10px
}
.banner[data-transparent-header=true]{
    width:100%;
    top:0;
    left:0;
    position:absolute;
    overflow:visible!important;
    z-index:9998;
    background-color:transparent;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    border-bottom:0
}
.banner[data-transparent-header=true] #logo .logo-main{
    display:none
}
.banner[data-transparent-header=true] .navbar-nav>li>a{
    color:#fff
}
.banner[data-transparent-header=true] .navbar-nav>li>a:hover{
    color:#fff
}
.banner[data-transparent-header=true] .navbar-nav>li>a:hover:after{
    background-color:#fff
}
.page-title{
    margin:0 15px
}
body.search .page-title,body.single .page-title{
    border-bottom:1px solid #e6e6e6
}
.page-title .header-icon{
    font-size:28px;
    margin-bottom:20px;
    color:#a3a3a3
}
.page-title h1{
    margin:0;
    color:#3a3b74
}
.page-title h4{
    font-size:18px;
    font-weight:400;
    line-height:150%;
    margin:0;
    padding:10px 0 0
}
.full-header-img{
    background:#f2f3f7;
    background-size:cover
}
.page-title .page-title-button{
    margin:30px 0 0
}
.page-title .a2c-btn a.button{
    font-size:18px
}
.container{
    width:calc(100% - 30px);
    max-width:1170px!important
}
.content-width{
    width:calc(100% - 60px);
    max-width:1140px
}
#loader{
    display:block;
    position:relative;
    left:50%;
    top:50%;
    width:80px;
    height:80px;
    margin:-40px 0 0 -40px;
    border-radius:50%;
    border:3px solid transparent;
    border-top-color:#969696;
    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    z-index:1001
}
#loader:before{
    content:"";
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border-radius:50%;
    border:3px solid transparent;
    border-top-color:#9f9f9f;
    -webkit-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite
}
#loader:after{
    content:"";
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border-radius:50%;
    border:3px solid transparent;
    border-top-color:#c6c6c6;
    -webkit-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spin{
    0%{
        -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
li,p{
    font-size:15px;
    line-height:165%
}
p{
    font-family:Inter;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
a{
    color:#3a3b74;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

h1,h2,h3,h4,h5,h6{
    font-family:Inter;
    font-weight:600;
    line-height:1.1;
    -webkit-font-smoothing:antialiased
}
h1{
    font-size:56px
}
h2{
    font-size:35px;
    margin-bottom:15px
}
h3{
    font-size:30px
}
h4{
    font-size:25px
}
h5{
    font-size:22px
}
h6{
    font-size:18px
}
.single-post h1{
    font-size:48px
}
@media (max-width:991px){
    h1:not(.product_title){
        font-size:56px
    }
    .single-post h1{
        font-size:44px
    }
}
@media (max-width:767px){
    h1:not(.product_title){
        font-size:48px
    }
    .single-post h1{
        font-size:40px
    }
}
@media (max-width:479px){
    h1{
        font-size:40px
    }
    h2{
        font-size:30px
    }
    h3{
        font-size:27px
    }
    h4{
        font-size:23px
    }
    h5{
        font-size:20px
    }
    h6{
        font-size:17px
    }
}
h1 a:focus,h1 a:hover,h2 a:focus,h2 a:hover,h3 a:focus,h3 a:hover,h4 a:focus,h4 a:hover,h5 a:focus,h5 a:hover,h6 a:focus,h6 a:hover{
    text-decoration:none
}
.btn{
    font-size:15px;
    font-weight:600;
    padding:10px 30px;
    border-radius:50px;
    white-space:normal;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    transition:all .2s linear
}
.btn:focus{
    color:#fff
}
.btn-cta-primary{
    display:inline-block;
    padding:14px 60px;
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
    color:#fff;
    white-space:nowrap;
    border:0;
    border-bottom:3px solid rgba(0,0,0,.15);
    border-radius:50px
}
.btn-cta-primary{
    background-color:#3a3b74
}
.btn-cta-primary:hover{
    text-decoration:none;
    color:#fff;
    opacity:.85
}
.btn:active{
    background-image:none;
    outline:0;
    box-shadow:0 0 0
}
.btn:focus,.button:focus,a:focus{
    outline:0
}
.btn-group-large>.btn,.btn-large{
    font-size:18px
}
.btn-group-sm>.btn,.btn-sm{
    padding:8px 20px;
    font-size:12px;
    line-height:1.5;
    border-radius:50px
}
.btn-group-xs>.btn,.btn-xs{
    padding:3px 8px;
    font-size:12px;
    line-height:1.5;
    border-radius:50px
}
.btn-group .btn,.btn.dropdown-toggle{
    margin-bottom:0
}
.btn-group .dropdown-menu li a{
    text-align:left
}
.navbar-toggle{
    border:0;
    padding:10px 0
}
.footer input[type=email],.footer input[type=number],.footer input[type=password],.footer input[type=tel],.footer input[type=text],.footer input[type=url]{
    max-width:450px;
    color:#fff!important;
    background:0 0!important;
    border:1px solid #fff!important
}
.page-title,.post-title{
    word-wrap:break-word
}
.post-meta{
    font-size:13px;
    color:#8b8b8b
}
.post-meta a{
    white-space:nowrap
}
body.single .post-inner{
    padding-bottom:50px;
    border-bottom:1px solid #dedede
}
.required-fields{
    white-space:nowrap
}
.link-icon{
    font-size:18px
}
body.single .link-icon{
    font-size:24px
}
.a2c-btn{
    display:inline-block
}
.a2c-btn a.button{
    font-weight:400;
    text-align:center;
    padding:10px 45px;
    margin-bottom:0;
    border:1px solid transparent;
    font-size:14px;
    line-height:1.42857143;
    vertical-align:middle;
    cursor:pointer;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    transition:all .2s linear
}
.a2c-btn a.button:hover{
    opacity:.85
}
.btn-cta-primary-form form .frm_submit input[type=submit]{
    display:inline-block;
    padding:14px 60px;
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
    color:#fff;
    white-space:nowrap;
    border:0;
    border-bottom:3px solid rgba(0,0,0,.15)
}
.btn-cta-primary-form form .frm_submit input[type=submit]{
    background-color:#045089
}
.btn-cta-primary-form form .frm_submit input[type=submit]:hover{
    text-decoration:none;
    color:#fff;
    opacity:.85;
    border-bottom:3px solid rgba(0,0,0,.15)
}
.btn-cta-primary-form form .frm_submit input[type=submit]:hover{
    background-color:#045089
}
.search-form input,.search-submit{
    height:50px;
    border-top-left-radius:50px;
    border:1px solid #e2e2e2;
    box-shadow:0 0 0
}
.search-form input{
    border-right:0!important;
    border-top-left-radius:50px!important;
    border-bottom-left-radius:50px!important
}
.search-form .input-group .search-field{
    border-bottom-right-radius:0!important;
    border-top-right-radius:0!important
}
.search-form input:focus{
    border:1px solid #045089
}
.search-form input[type=search]{
    padding:6px 20px 6px 25px
}
.search-submit{
    padding:14px 20px;
    color:#fff;
    background-color:#045089;
    opacity:1;
    border:0;
    margin-left:0!important
}
.search-submit:hover{
    color:#fff;
    background-color:#045089;
    opacity:.9;
    box-shadow:0 0 0
}
.soc-widget a i,.soc-widget i{
    font-size:32px;
    margin:0;
    padding:0 10px 10px 0!important
}
.sidebar{
    padding:40px 15px 40px 40px
}
.sidebar .widget{
    margin-bottom:50px
}
.sidebar .widget-title{
    position:relative;
    font-size:20px;
    font-weight:400;
    color:#6d6d6d;
    padding-bottom:12px;
    margin-bottom:22px;
    border-bottom:1px solid #e2e2e2
}
.footer{
    background:#292e31;
    color:#d2d2d2;
    padding:70px 0 0;
    margin-top:-1px
}
.footer-btm-bar{
    background:#23272a;
    padding:30px 0 20px
}
.footer .widget{
    text-align:left;
    margin-bottom:40px
}
.footer h1,.footer h2,.footer h3,.footer h4,.footer h5,.footer h6{
    color:#fff
}
.footer a,.footer p{
    color:#d2d2d2
}
.footer a:hover{
    color:#fff;
    text-decoration:none
}
.footer .footer-copyright{
    text-align:center
}
.footer .widget-title{
    position:relative;
    font-size:18px;
    font-weight:400;
    margin-top:0;
    padding-bottom:20px;
    margin-bottom:26px;
    border-bottom:1px solid rgba(255,255,255,.1)
}
.footer .widget ul li,.footer ul li{
    border-bottom:1px solid rgba(255,255,255,.05)
}
.footer .widget.widget_nav_menu ul li{
    border-bottom:0;
    box-shadow:0 0 0
}
.footer .widget.widget_nav_menu li a{
    border-bottom:1px solid rgba(255,255,255,.05)
}
.footer .search-form input{
    border:0
}
.footer .search-form input:focus{
    border:0;
    box-shadow:0 0 0
}
.footer .soc-widget i{
    color:#4f5356
}
.footer .soc-widget i:hover{
    color:#8e979d
}
.footer .widget .dropdown-menu a{
    color:#d2d2d2;
    background-color:transparent
}
.footer .widget .dropdown-menu a:hover{
    color:#fff
}
.footer .widget ul li ul li{
    margin-left:0
}
.icon-large{
    font-size:90px
}
@media (max-width:479px){
    #logo{
        max-width:230px
    }
    .btn-cta{
        padding:14px 30px
    }
}
@media (min-width:480px) and (max-width:767px){
    #logo{
        max-width:310px
    }
}
@media (max-width:767px){
    #logo{
        margin-left:15px
    }
    .navbar .navbar-nav{
        float:none;
        text-align:left;
        margin:0 0 10px;
        padding-top:15px;
        border-top:1px solid #e7e7e7!important
    }
    .navbar .navbar-nav>li>a{
        padding:10px 15px;
        margin-left:0;
        margin-right:0
    }
    .navbar .navbar-nav>li>a:after,.navbar .navbar-nav>li>a:hover:after{
        height:0!important
    }
    .navbar .navbar-nav .open .dropdown-toggle{
        background-color:#eee!important
    }
    .navbar .navbar-nav .dropdown-menu{
        background-color:#f4f4f4
    }
    .navbar .navbar-nav .dropdown-menu li a{
        line-height:200%
    }
    .sidebar{
        padding:40px 15px
    }
    .footer .widget{
        margin-bottom:50px
    }
    .footer .widget-title{
        margin-bottom:18px
    }
}
@media (min-width:768px){
    .navbar .navbar-nav .dropdown-menu{
        left:-10px;
        padding:12px 5px;
        border:0;
        box-shadow:0 0 5px 0 rgba(0,0,0,.2)
    }
    .navbar .navbar-nav .dropdown-menu li a{
        font-size:13px;
        text-align:left;
        padding:8px 20px;
        color:#c8c8c8
    }
    .navbar .navbar-nav .dropdown-menu li a:hover{
        color:#fff!important
    }
    .navbar .navbar-nav .dropdown:hover .dropdown-menu{
        display:block
    }
    .navbar .navbar-nav li:last-child .dropdown-menu{
        right:-5px;
        left:auto
    }
}
@media (min-width:768px) and (max-width:991px){
    .sidebar{
        padding:40px 15px
    }
    .navbar .navbar-nav>li>a{
        margin-left:12px;
        margin-right:12px
    }
    .service-block-col{
        padding-top:0
    }
    .service-block-col .service-block{
        margin-bottom:20px
    }
    .service-block-col .service-block i{
        display:none
    }
    .service-block-col .service-block h3,.service-block-col .service-block p{
        margin-left:0!important;
        margin-right:0!important
    }
}
@media (max-width:991px){
    .icon-block{
        margin-bottom:50px
    }
    .icon-block:last-child{
        margin-bottom:0
    }
}
@media (min-width:1450px){
    .navbar .navbar-nav li:last-child .dropdown-menu{
        left:-10px;
        right:auto
    }
}
a,body,div,h1,h2,h3,h4,h5,p,span{
    font-family:Inter!important
}
@-moz-document url-prefix(){
    .sd-social-icon .sd-content ul li a.share-more{
        top:2px
    }
}
.twitter_button{
    margin:0!important
}
*/