@import '../../../styles/colors.scss';

:local(.Footer) {
  background: $primary-color;
  color: #d2d2d2;
  padding: 50px 0 0;
  font-size: 16px;

  h3 {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 18px;
  }

  p {
    font-size: 16px;
    color: #fff;
  }

  .widget {
    text-align: right;

    &-title {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      margin-top: 0;
      padding-bottom: 20px;
      margin-bottom: 26px;
    }
  }

  .soc-widget {
    margin-top: 30px;

    a {
      i {
        font-size: 38px;
      }
    }
    
    a + a {
      margin-left: 25px;
    }
  }
}